<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Testing" parallel="classes">
    <test name="Test On Chrome">
        <parameter name="browserName" value="Chrome"/>
        <classes>
            <class name="com.demoqa.tests.home.DemoqaPageTest"/>
            <class name="com.demoqa.tests.forms.DemoqaFormsPageTest"/>
            <class name="com.demoqa.tests.automationpracticeform.DemoqaAutomationPracticeFPageTest"/>
        </classes>
    </test>

    <test name="Test On Edge">
        <parameter name="browserName" value="Edge"/>
        <classes>
            <class name="com.demoqa.tests.home.DemoqaPageTest"/>
            <class name="com.demoqa.tests.forms.DemoqaFormsPageTest"/>
            <class name="com.demoqa.tests.automationpracticeform.DemoqaAutomationPracticeFPageTest"/>
        </classes>
    </test>

    <test name="Test On Firefox">
        <parameter name="browserName" value="Firefox"/>
        <classes>
            <class name="com.demoqa.tests.home.DemoqaPageTest"/>
            <class name="com.demoqa.tests.forms.DemoqaFormsPageTest"/>
            <class name="com.demoqa.tests.automationpracticeform.DemoqaAutomationPracticeFPageTest"/>
        </classes>
    </test>

</suite>